body{
    margin:0;
    padding:0;
}
html{
    margin:0;
    padding:0;
}
#main2{
    background-image: url("girisyap.PNG");
    height:400px;
    width:450px;
    position:relative;
    left:600px;
    top: 200px;
}
.inp{
    position:absolute;
    border:solid rgba(128, 128, 128, 0.2) 0.1px;
    display: inline-block;
    margin: 0;
    padding:0;
    height:45px;
    width: 260px;
}
#girisbtn{
    position:absolute;
    display:inline-block;
    margin: 0;
    padding:0;
    background-color: rgba(0, 0, 0, 0);
    width: 383px;
    height: 43px;
    top:358px;
    left:28px;

}
#inp1{
    top:173px;
    left:130px;
}
#inp2{
    top:270px;
    left:25px;
    width: 370px;
}